QPushButton {
    font-size: 16px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
QPushButton:hover {
    background-color: #2980b9; /* Bleu plus foncé au survol */
}

QSpinBox {
    font-size: 16px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

QWidget#leftPanel{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
}
QWidget#rightPanel{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
}
QLabel#label{
    border: 1px solid black;
    border-radius : 10px;
    padding: 10px;


}